.DS_Store
.elasticbeanstalk/
.vagrant/
site/application/frontend/img/flags/*
!site/application/frontend/img/flags/
site/application/backend/app-common/Config/environment.php
site/application/backend/app-common/Config/database-common.php
site/application/backend/app-common/Config/keys-common.php