.DS_Store
.elasticbeanstalk/
.vagrant/
tmp-dest/
pkg/
repo/
site/application/backend/app/tmp/*
!site/application/backend/app/tmp/
 
site/application/backend/app/tmp/cache/*
!site/application/backend/app/tmp/cache/
!site/application/backend/app/tmp/cache/empty
 
site/application/backend/app/tmp/cache/models/*
!site/application/backend/app/tmp/cache/models/
!site/application/backend/app/tmp/cache/models/empty
 
site/application/backend/app/tmp/cache/persistent/*
!site/application/backend/app/tmp/cache/persistent/
!site/application/backend/app/tmp/cache/persistent/empty
 
site/application/backend/app/tmp/cache/views/*
!site/application/backend/app/tmp/cache/views/
!site/application/backend/app/tmp/cache/views/empty
 
site/application/backend/app/tmp/logs/*
!site/application/backend/app/tmp/logs/
!site/application/backend/app/tmp/logs/empty
 
site/application/backend/app/tmp/sessions/*
!site/application/backend/app/tmp/sessions/
!site/application/backend/app/tmp/sessions/empty
 
site/application/backend/app/tmp/tests/*
!site/application/backend/app/tmp/tests/
!site/application/backend/app/tmp/tests/empty
site/application/backend/app-admin/tmp/*
!site/application/backend/app-admin/tmp/
 
site/application/backend/app-admin/tmp/cache/*
!site/application/backend/app-admin/tmp/cache/
!site/application/backend/app-admin/tmp/cache/empty
 
site/application/backend/app-admin/tmp/cache/models/*
!site/application/backend/app-admin/tmp/cache/models/
!site/application/backend/app-admin/tmp/cache/models/empty
 
site/application/backend/app-admin/tmp/cache/persistent/*
!site/application/backend/app-admin/tmp/cache/persistent/
!site/application/backend/app-admin/tmp/cache/persistent/empty
 
site/application/backend/app-admin/tmp/cache/views/*
!site/application/backend/app-admin/tmp/cache/views/
!site/application/backend/app-admin/tmp/cache/views/empty
 
site/application/backend/app-admin/tmp/logs/*
!site/application/backend/app-admin/tmp/logs/
!site/application/backend/app-admin/tmp/logs/empty
 
site/application/backend/app-admin/tmp/sessions/*
!site/application/backend/app-admin/tmp/sessions/
!site/application/backend/app-admin/tmp/sessions/empty
 
site/application/backend/app-admin/tmp/tests/*
!site/application/backend/app-admin/tmp/tests/
!site/application/backend/app-admin/tmp/tests/empty
site/application/backend/app-shareables/tmp/*
!site/application/backend/app-shareables/tmp/
site/application/backend/app-shareables/tmp/cache/*
!site/application/backend/app-shareables/tmp/cache/
!site/application/backend/app-shareables/tmp/cache/empty
site/application/backend/app-shareables/tmp/cache/models/*
!site/application/backend/app-shareables/tmp/cache/models/
!site/application/backend/app-shareables/tmp/cache/models/empty
site/application/backend/app-shareables/tmp/cache/persistent/*
!site/application/backend/app-shareables/tmp/cache/persistent/
!site/application/backend/app-shareables/tmp/cache/persistent/empty
site/application/backend/app-shareables/tmp/cache/views/*
!site/application/backend/app-shareables/tmp/cache/views/
!site/application/backend/app-shareables/tmp/cache/views/empty
site/application/backend/app-shareables/tmp/logs/*
!site/application/backend/app-shareables/tmp/logs/
!site/application/backend/app-shareables/tmp/logs/empty
site/application/backend/app-shareables/tmp/sessions/*
!site/application/backend/app-shareables/tmp/sessions/
!site/application/backend/app-shareables/tmp/sessions/empty
site/application/backend/app-shareables/tmp/tests/*
!site/application/backend/app-shareables/tmp/tests/
!site/application/backend/app-shareables/tmp/tests/empty
site/application/frontend/node_modules/
site/application/frontend/coverage
site/application/frontend/.sass-cache
site/application/frontend/dist/

# manager
site/application/backend/app-manager/tmp/*
!site/application/backend/app-manager/tmp/
 
site/application/backend/app-manager/tmp/cache/*
!site/application/backend/app-manager/tmp/cache/
!site/application/backend/app-manager/tmp/cache/empty
 
site/application/backend/app-manager/tmp/cache/models/*
!site/application/backend/app-manager/tmp/cache/models/
!site/application/backend/app-manager/tmp/cache/models/empty
 
site/application/backend/app-manager/tmp/cache/persistent/*
!site/application/backend/app-manager/tmp/cache/persistent/
!site/application/backend/app-manager/tmp/cache/persistent/empty
 
site/application/backend/app-manager/tmp/cache/views/*
!site/application/backend/app-manager/tmp/cache/views/
!site/application/backend/app-manager/tmp/cache/views/empty
 
site/application/backend/app-manager/tmp/logs/*
!site/application/backend/app-manager/tmp/logs/
!site/application/backend/app-manager/tmp/logs/empty
 
site/application/backend/app-manager/tmp/sessions/*
!site/application/backend/app-manager/tmp/sessions/
!site/application/backend/app-manager/tmp/sessions/empty
 
site/application/backend/app-manager/tmp/tests/*
!site/application/backend/app-manager/tmp/tests/
!site/application/backend/app-manager/tmp/tests/empty
